* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  color: #151515;
}

.containerBlue {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3px;
  background: #2085e3;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  background: #3d3c3c;
}

.parent {
  display: flex;
}

.parent li {
  max-width: 200px;
  list-style: none;
  background: #3d3c3c;
  position: relative;
}

.parent a {
  color: #e0e0e0;
  display: block;
  text-align: center;
  padding: 15px 40px;
  text-decoration: none;
}

.parent a:hover {
  background: #2085e3;
}

.child {
  position: absolute;
  top: 100%;
  display: none;
  padding: 0;
}

.parent li:hover > ul {
  display: block;
}

.parent ul ul {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
}

.border {
  border: 2px solid #0271d9;
  width: 200px;
}

.border:last-child {
  border-top: 0px solid #0271d9;
}

span {
  float: right;
}

.hover:hover {
  background: #2085e3;
}
